.vscode
.idea

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env
./server/google_client_secret.json
./server/google_service_account_private_key.json